# Fichiers et dossiers de cache Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
.env
.venv
env/
venv/
ENV/
VENV/

# Fichiers de configuration IDE
.vscode/
.idea/

# Fichiers et secrets de Streamlit
.streamlit/